.ce-code {
  font-family: Consolas, 'Courier New', Courier, Monaco, monospace;
  font-size: $code-font-size;
  line-height: 1.2;
}

.ce-out-code {
  &:before {
    content: ">";
    padding: $code-deco-padding;
  }
}

.ce-out-result {
  &:before {
    content: "=";
    padding: $code-deco-padding;
  }
}
