.ce-console-container {
  display: flex;
  flex-direction: column;
  height: 100%;

  .ce-console-result {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-end;

    flex-basis: 100%;
    margin: 0 0 10px;
    padding: 0 0 5px $code-font-size;
    border-bottom: 2px solid #000;

    p {
      margin: $code-padding;
    }
  }

  .ce-console-input-container {
    display: flex;
    flex-direction: row;
    width: 100%;

    .ce-console-input-mark {
      width: $code-font-size;
      padding: $code-padding 0;
      &:before {
        content: ">";
      }
    }

    textarea {
      margin: 0;
      padding: $code-padding;
      width: 100%;
      border: 0;

      &:focus {
        border: 0;
      }
    }
  }
}
