.ce-console-container {
  display: flex;
  flex-direction: column;
  height: 100%;

  .ce-console-result {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    flex-basis: 100%;
    overflow: auto;
    padding: 0 0 5px;
    border-bottom: 2px solid #000;
    margin: 0 0 10px;

    .ce-console-result-inner {
      display: flex;
      flex-direction: column;
      align-items: stretch;
      justify-content: flex-end;
  
      height: auto;
  
      p {
        margin: $code-input-padding $code-input-padding $code-input-padding 0;
      }
    }
  }

  .ce-console-input-container {
    display: flex;
    flex-direction: row;
    width: 100%;

    .ce-console-input-mark {
      padding: $code-input-padding 0;
      &:before {
        content: ">";
        padding: $code-deco-padding;
      }
    }

    .ce-console-input {
      margin: 0;
      padding: $code-input-padding;
      width: 100%;
      border: 0;
    }
  }
}
