%html
  %head
    %link(rel="stylesheet" href="styles/app.css")
    %script(src="scripts/app.js")
  %body
    %pre#examples(data-seed="<a href='#'><code>%code%</code></a>" data-key="%code%")
    %textarea#input(type="text" style="width: 100%;")
    #result
