%html
  %head
    %meta(content="text/html: charset=UTF-8" http-equiv="Content-Type")
    %meta(content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport")
    %link(rel="stylesheet" href="styles/app.css")
    %script(src="scripts/app.js")
  %body
    .ce-console-container
      .ce-console-result.ce-code
        %p hogehoge
        %p fufafuga
      .ce-console-input-container
        .ce-console-input-mark.ce-code
        %textarea.ce-code(type="text")
        .ce-console-input-submit

