%html
  %head
    %meta(content="text/html: charset=URF-8" http-equiv="Content-Type")
    %meta(content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport")
    %link(rel="stylesheet" href="styles/app.css")
    %script(src="scripts/app.js")
  %body
    %pre#examples(data-seed="<a href='#'><code>%code%</code></a>" data-key="%code%")
    %textarea#input(type="text" style="width: 100%;")
    #result
